html{
    width: 100%;
    overflow-x: hidden;
}
.row{
    margin: 0;
}
.wrap{
    width: 100%;
    height: 100%;
   }
.title{
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    /*padding-bottom: 10px;*/
}
.container-part{
    width: 100%;
    padding-bottom: 50px;
}
.container-chart{
    width: 49.7%;
    display: inline-block;
    vertical-align: top;
}
.container-chart-2{
    background-color: #EACEE3;
    padding-top: 100px;
}
.container-chart .chart-wrap{
    width: 50%;
    height: 80%;
    padding-left: 5%;
    display: inline-block;
}
.container-chart .chart-wrap-2{
    width: 44%;
    height: 50%;
    display: inline-block;
    background: #fff;
    /* padding-left: 2%; */
    margin-left: 2.5%;
}
.container-chart .chart-wrap-2-2{
    width: 50%;
    height: 50%;
    display: inline-block;
    background: #fff;
    /* padding-left: 10%; */
    margin-left: 2.5%;
}
.container-chart .chart-wrap-3{
    width: 70%;
    height: 100%;
}
.container-chart-3{
    background-color: #d0eff8;
    padding-top: 100px;
}

.container-chart ul{
    padding-top: 20px;
    padding-left: 30px;
}
.container-chart ul li{
    width: 100%;
    white-space: normal;
    word-break: break-word;
}
.chart-content{
    /* height: 500px;  */
    background: #fff; 
}
.container-about{
    background-color: #ccc;
    height: 230px;
}
.container-about .content{
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translate3d(-50%,0,0);
    -webkit-transform:translate3d(-50%,0,0);
}
.container-about .content .introduction{
    margin-left: 20px;
}
.wrap-girl{
    width: 150px;
    display: inline-block;
    vertical-align: bottom;
}
.container-about ul{
    display: inline-block;
}
img{
    width: 100%;
}
.pb-0{
    padding-bottom: 0px;
}
.mb-0{
    margin-bottom: 0;
}
.footer-bottom {
    clear: both;
    background-color: #000;
    padding: 22px 0;
    width: 100%;
    min-width: 1000px;
    box-sizing: border-box;
}
.contents-inner {
    max-width: 1080px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 40px;
}
.clearfix {
    zoom: 1;
}
.footer-bottom p.copy-right {
    float: right;
}
.footer-bottom p {
    color: #ccc;
    font-size: 10px;
}
.black-tip{
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.05em;
    padding: 2px 15px;
    border-radius: 30px;
    background: #000;
    display: inline-block;
    top: -20px;
    left: 50%;
    transform: translateY(-0) translateX(-50%);
}
.black-arrow{
    position: absolute;
    background-image: url(../img/black-arrow.png);
    background-repeat: no-repeat;
    background-size: 16px 31px;
    background-position: center center;
    content: "";
    width: 16px;
    height: 31px;
    bottom: 15px;
    left: 50%;
    transform: translateY(-0) translateX(-50%);
}
.black-arrow-wrap{
    position: relative;
}
.pt-20{
    padding-top:20px;
}